body {
  font-family: "Ubuntu", sans-serif;
}

:hover {
  transition: 0.4s;
}

.wrapper {
  background: url("../images/bg.png") no-repeat;
  background-size: cover;
  height: 100vh;
}

header {
  height: 58px;
  background: rgb(0 0 0 / 40%);
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.header-content {
  margin: 0 80px;
  height: 58px;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  justify-content: space-between;
}

.logo a {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.logo a:hover {
  color: #3cb878;
}

.navigation {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.navigation svg {
  fill: #fff;
}

.navigation a {
  margin-right: 27px;
}

.welcome a {
  margin: 0;
}

.navigation svg:hover {
  fill: #3cb878;
  cursor: pointer;
}

.welcome {
  font-size: 14px;
  color: #fff;
  padding-left: 27px;
  border-left: 1px solid;
  border-color: rgb(255 255 255 / 50%);
}

.navigation .welcome a {
  text-decoration: none;
  color: #fff;
}

.navigation .welcome a:hover {
  color: #3cb878;
}

main {
  height: calc(100vh - 116px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrap {
  height: 617px;
  width: 444px;
  background-color: #fff;
  padding: 30px 60px 40px;
  box-sizing: border-box;
  position: relative;
}

.green-square {
  height: 18px;
  width: 18px;
  background-color: #3cb878;
  position: absolute;
  top: 31px;
  left: 0;
}

.form-wrap .first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signUp {
  font-size: 20px;
  color: #434343;
}

.logIn a {
  font-size: 14px;
  color: #3cb878;
  text-decoration: none;
}

.logIn a:hover {
  text-decoration: underline solid #01813f;
  color: #01813f;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  column-gap: 5px;
  margin-top: 15px;
}

.buttons button {
  border: none;
}

.facebook-btn,
.google-btn {
  display: flex;
  background-color: #305db8;
  box-sizing: border-box;
  padding: 10px 16px;
  border-radius: 4px;
  align-items: center;
  width: 160px;
}

.facebook-text {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}

.vertical-line {
  height: 28px;
  width: 1px;
  background: #0a162f;
  opacity: 0.1;
  margin: 0 18px;
}

.google-btn {
  background-color: #df4a32;
  color: #fff;
}

.vertical-line-g {
  height: 28px;
  width: 1px;
  background: #0a162f;
  opacity: 0.1;
  margin-left: 8px;
  margin-right: 30px;
}

.google-text {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}

.google-btn:hover {
  cursor: pointer;
  background-color: #ab1f09;
}

.facebook-btn:hover {
  cursor: pointer;
  background-color: #022263;
}

.or-line-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 17px;
}

.or {
  color: #848484;
  font-size: 14px;
}

.or-line {
  height: 1px;
  width: 152px;
  background-color: #f2f2f2;
  margin-top: 3px;
}

input:not(input[type="checkbox"]) {
  padding: 14px 20px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  border: 1px solid #f2f2f2;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  box-shadow: 0 3px 8px rgb(0 0 0 / 21%);
  border: 1px solid transparent;
}

input::placeholder {
  color: #bebebe;
}

form .check-label {
  font-size: 14px;
  color: #434343;
  display: flex;
  align-items: center;
}

.check-label .check-text {
  margin-left: 3px;
}

form .check-label a {
  text-decoration: none;
  color: #3cb878;
}

form .check-label a:hover {
  color: #01813f;
  border-bottom: 1px solid #01813f;
}

button.create-btn {
  background-color: rgb(60 184 120 / 80%);
  border-radius: 4px;
  text-decoration: none;
  outline: none;
  margin-top: 20px;
  width: 100%;
  height: 46px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

button.create-btn:hover {
  background-color: #01813f;
  cursor: pointer;
}
