.global-wrap {
  width: 1280px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

.colored {
  color: deepskyblue;
}

.logo a {
  margin: 63px 0;
  font-size: 80px;
  line-height: 94px;
  color: #000;
  display: inline-block;
  text-decoration: none;
}

.header-menu {
  margin-bottom: 50px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  background-color: #35444f;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  padding: 26px 42px;
  border-left: 1px solid #fff;
}

.menu li:last-child a {
  border-right: 1px solid #fff;
}

main {
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 344px;
  border: 1px solid #000;
  flex-shrink: 0;
  margin-right: 52px;
  height: fit-content;
}

.navbar li {
  height: 80px;
}

.navbar a {
  font-size: 27px;
  text-decoration: none;
  color: #485863;
  padding: 26px 44px;
  display: block;
  transition: 1s;
}

.navbar a:hover {
  background: #dbdbdb;
  color: #000;
  padding-left: 75px;
  transition: 1s;
}

.img-wrap {
  border: 1px solid #000;
  height: 529px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goat {
  transition: 1s;
}

.goat:hover {
  transform: scale(1.2);
}

.content p {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-top: 37px;
}

footer {
  width: 1280px;
  height: 70px;
  background-color: rgb(99 105 110 / 48%);
  margin-top: 55px;
  padding: 20px 40px;
  box-sizing: border-box;
}

.foot-menu ul {
  display: flex;
}

footer .foot-menu a {
  text-decoration: none;
  color: #0c1927;
  font-size: 28px;
  margin-right: 30px;
  transition: 1s;
}

footer .foot-menu a:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
  padding-bottom: 12px;
  transition: 1s;
}

.foot-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .copy {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #010101;
}
