body {
  background: url("../images/background.png") no-repeat;
  font-family: "Roboto", sans-serif;
  background-size: cover;
  color: #fff;
  min-height: 100vh;
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-top: 50px;
}

.logo {
  display: grid;
  grid-template-columns: 53px auto;
  text-decoration: none;
  color: #fff;
}

.logo:hover {
  filter: invert(44%) sepia(89%) saturate(1737%) hue-rotate(348deg) brightness(98%) contrast(93%);
}

.logo div {
  margin-left: 8px;
  margin-top: 3px;
}

.logo div p:first-child {
  font-size: 29px;
  font-weight: bold;
  text-transform: uppercase;
}

.logo div p:last-child {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.contacts {
  display: grid;
  grid-auto-flow: row;
  align-content: space-between;
  justify-items: end;
}

.contacts a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.contacts a:hover {
  color: #f26522;
  transition: 0.5s;
}

main {
  margin-top: 22px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-between;
  row-gap: 78px;
}

.holiday-item {
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  position: relative;
}

.holiday-item img {
  width: 100%;
  display: block;
}

.holiday-item:hover {
  color: #f26522;
  cursor: pointer;
}

.price {
  position: absolute;
  height: 55px;
  background: #f26522;
  width: 100%;
  bottom: 0;
  color: #fff;
  padding: 7px 16px 12px;
  box-sizing: border-box;
  transform: translateY(100%);
}

.holiday-item:hover .price {
  transform: translateY(0);
  transition: all 1s;
}

.top-line p {
  text-align: left;
  font-size: 10px;
  line-height: 10px;
}

.bottom-line {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-top: 8px;
  align-items: center;
}

.bottom-line p:first-child {
  font-size: 20px;
  line-height: 20px;
}

.bottom-line p:last-child {
  font-size: 14px;
  line-height: 14px;
}

.bottom-line p:last-child::after {
  background: url("../images/vektor.svg");
  content: "";
  width: 7px;
  height: 11px;
  display: inline-block;
  margin-left: 16px;
}

.holiday-item-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  margin-top: 20px;
}

.wall {
  width: 100%;
  height: 55px;
  position: absolute;
  overflow: hidden;
  bottom: 0;
}

footer p {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #fff;
  margin-top: 90px;
}