body {
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  background-color: #313131;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.logo {

}

.logo img {
  margin: 0 26px;
}

.logo a {
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
}

.menu-list a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 35px;
}

.menu-list a:hover {
  color: #14b9d5;
  transition: 0.5s;
}

.search {
  width: 70px;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search img {
  width: 17px;
  height: 17px;
  margin: auto;
}

.latest-wrap {
  height: 370px;
  background: url("../images/header-bg.jpeg");
  position: relative;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
}

.latest-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0 0 0 / 50%);
}

.latest-wrap .latest-text {
  font-weight: bold;
  font-size: 27px;
  color: #fff;
  text-transform: uppercase;
}

.latest {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding-bottom: 75px;
}

.latest .btn {
  height: 55px;
  line-height: 55px;
  padding: 0 20px;
  background: #89ca62;
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  margin: 0 10px;
}

.latest .btn-best {
  background: #14b9d5;
}

.latest-btn {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.titles {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
}

.most-popular {
  background: #f2f2f2;
  padding-bottom: 75px;
  padding-top: 50px;
}

.wrap-houses {
  width: 1170px;
  margin: 52px auto 0;
  display: flex;
  gap: 30px;
}

.most-popular-item {
  margin-bottom: 30px;
}

.most-popular-item p {
  font-weight: bold;
  font-size: 18px;
  color: #353a3d;
  background: #fff;
  text-align: center;
  padding: 20px 16px;
}

.most-popular-column {
  width: 370px;
}

.our-most-wrap {
  height: 588px;
  background-image: url("../images/parallax-bg.jpeg");
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  display: grid;
  align-items: center;
}

.our-most {
  width: 885px;
  margin: 0 auto;
}

.our-most-wrap .our-most-text p {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 100px;
}

.our-most-wrap .our-most-text::after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #18b4cf;
  display: block;
  margin: 0 auto;
}

.our-clients {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 58px;
  position: relative;
  margin-top: 90px;
}

.top-rated-wrap .titles {
  margin: 50px auto;
}

.top-rated-items {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: row;
}

.top-rated-items img {
  width: 100%;
}

.hot-news-wrap .titles {
  margin-top: 50px;
}

.news-content {
  width: 1170px;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: 45px;
  justify-content: space-between;
  grid-auto-flow: row;
}

.news-content div {
  text-align: right;
}

.news-item:nth-child(odd) {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-right: 60px;
}

.news-item:nth-child(even) {
  grid-column-start: 3;
  grid-column-end: 5;
}

.news-item:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: auto auto;
  margin-right: 35px;
}

.news-item:nth-child(2) {
  grid-column-start: 4;
  grid-column-end: 5;
}

.news-item:nth-last-child(2) {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-right: 35px;
}

.news-item:nth-child(2) h4, .news-item:nth-last-child(2) h4 {
  text-align: center;
}

.news-item:last-child {
  grid-column-start: 2;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: auto auto;
}

.news-item {
  background: #f9f7f7;
}

.news-item div {
  padding: 14px 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  background: #f9f7f7;
}

.news-item h4 {
  font-weight: bold;
  font-size: 18px;
  color: #353a3d;
}
.news-item p {
  margin-top: 15px;
}

footer {
  background: #000;
  margin-top: 77px;
}

.foot-content {
  width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.copy-text {
  font-size: 13px;
  color: #fff;
}