body {
    font-family: Montserrat, sans-serif;
}
header  {
    width: 1280px;
    margin: 0 auto;
}
header .menu-list  {
    text-align: center;
}
header .menu-list ul {
    margin: 26px 0;
    padding-left: 0;
}
header .menu-list li {
    display: inline-block;
    list-style-type: none;
    margin-right: 36px;
    margin-left: 36px;
}
header .menu-list a{
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FF0000;
}
main {
    width: 1280px;
    margin: 26px auto;
}
h2 {
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-top: 39px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:  28px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}
main .first-paragraph, .second-paragraph{
    text-align: center;
    font-style: normal;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;

}
main .first-paragraph {
    margin-bottom: 30px;
}
.button {
    color: #fff;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-top: 56px;
}
button:hover {
    cursor: pointer;
}
.btn {
    width: 191px;
    margin: 0 auto;
}
footer {
    width: 1280px;
    margin: 0 auto;
}
footer .footer-text{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    margin-right: 105px;
    margin-top: 92px;
    font-family: Montserrat, sans-serif;
}








