body {
  font-family: sans-serif;
}

.wrap-content {
  background: #000;
  height: 100vh;
  perspective: 500px;
  position: relative;
}

.content {
  width: 784px;
  height: 766px;
  color: gold;
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto;
  line-height: 1.5;
  position: relative;
  top: 0;
  left: 0;
  animation-name: content;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

h4 {
  text-align: center;
  margin-bottom: 40px;
}

p {
  text-align: justify;
}

p:not(:last-child) {
  margin-bottom: 35px;
}

@keyframes content {
  0% {
    transform: rotateX(50deg) translateY(800px);
  }

  100% {
    transform: rotateX(50deg) translateY(-1200px);
  }
}
